@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700&display=swap');

body {
    font-family: 'Martel Sans', Sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}
.header-color{
    background-color: #FFE7E6;
}

.custom-dropdown-menu .dropdown-menu {
    background-color: #84012A !important;
    color: white !important;
    border: none;
}

.custom-dropdown-menu .dropdown-item {
    background-color: transparent !important;
    color: white !important;
}

.custom-color-font .nav-link {
    color: white !important;
    font-size: 22px;
}

.custom-color-font{
    color: white;
    font-size: 22px;
}

.btn-outline-maroon{
    background-color: transparent;
    color: #84012A;
    border: #84012A solid 1px;
}

.btn-outline-maroon:hover{
    background-color: transparent;
    color: #84012A;
    border: #84012A solid 1px;
}

.btn-maroon{
    background-color: #84012A ;
    color: white;
}
.btn-orange{
    background-color: #FF6666 ;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 8%;
    padding-right: 8%;
    color: white;
}
.p-2-5{
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 4%;
    padding-right: 4%;
}
.btn-maroon:hover{
    background-color: #84012A ;
    color: white;
}
.btn-orange:hover{
    background-color: #FF6666 ;
    color: white;
}
.btn-black{
    background-color: black;
    color: white;
}

.show_mobile_screen {
    display: none;
}

.theme-anchor{
    text-decoration: none;
    color: white;
}

.input-group-text {
    background-color: transparent;
    border: none;
}

.w-res-50{
    width: 50%;
}
.w-res-75{
    width: 75%;
}

.maroon {
    color: #84012A ;
}
.bg-maroon {
    background-color: #84012A ;
}
.bg-ltn-maroon {
    background-color: #D31A53 ;
}
.ltn-maroon {
    color: #D31A53 ;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 5px;
}

.horizontal-list li {
    padding: 2px 1px;
    color: #808080;
    font-size: 14px;
}

.p-badge {
    /* width: 120px; */
    padding: 5px 15px;
    background-color: #FBE8E7;
    border-radius: 4px;
    white-space: nowrap; /* Prevent text from wrapping */
}
.p-badge-selected {
    /* width: 120px; */
    padding: 5px 15px;
    background-color: #FBE8E7;
    border: 1px solid ;
    border-radius: 4px;
    white-space: nowrap; /* Prevent text from wrapping */
}

@media (max-width: 1024px) and (max-height: 1366px) {

    .show_mobile_screen {
        display: none;
    }
    .show_on_pro {
        display: inline;
    }
}

@media (max-width: 1200px) {


    .bg-mob-white{
        background: white !important;
    }
    .w-res-50{
        width: 60%;
    }
    .w-res-75{
        width: 100%;
    }
    .w-res-80{
        width: 100%;
    }

    .w-res-85{
        width: 100%;
    }



}

@media (max-width: 990px) {
    .hide-on-tab {
        display: none;
    }
    .show_mobile_screen {
        display: inline;
    }
    .show_on_pro {
        display: none;
    }

}

@media (max-width: 480px) {



    ::placeholder {
        font-size: 14px;
    }
    .w-res-50{
        width: 100%;
    }
    .w-res-75{
        width: 100%;
    }
    .w-res-80{
        width: 100%;
    }
    .w-res-85{
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }

    .show_mobile_screen {
        display: inline;
    }
    .show_on_pro {
        display: none;
    }


}

@media (max-width: 375px) {
    .hide-on-mini {
        display: none;
    }
    .show_on_pro {
        display: none;
    }
}



